<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
          <!-- <div v-for="(a,b) in arr">for</div> -->
      <!-- <div v-if="bool == 3">
        <input />
      </div>
      <div v-else-if="bool == 2">elseif</div>
      <div v-else>else</div> -->
    <div id="app">
      <div value="valuetext" data-num="numbertext" @click="FunA">
        {{bbb}}
        <span>{{ddd}}</span>
        <span>{{aaa.b}}</span>
        <span>text</span>
      </div>
      <!-- <div>
        <span>text2</span>
      </div>
      <div>{{bbb}}</div> -->
      <!-- <div></div> -->
    </div>
    <div>123</div>  
  </body>
  <script src="./code/dist/vue.js"></script>
  <!-- <script src="./code/src/core/index.js"></script> -->
  <script>
    new Vue({
      el: "#app",
      // template:'<h1>123</h1>',
      beforeCreate: function () {
        // console.log(123)
      },
      data: {
        aaa: { b: "a123" },
        bbb: "b123",
        arr: [1, 2, 3, 4],
        ddd:444
      },
      mounted() {
        setTimeout(() => {
          debugger
          this.bbb = "666";
          debugger
          this.bbb = "777";
        }, 1000);
      },
      methods: {
        FunA() {
          console.log("===aaa");
        },
      },
    });
  </script>
  <script>
    // console.log('===========================1')
    // var a  = {b:111,g:222}
    // var handler = {
    //   has(target,key){
    //     console.log(target,key)
    //     return true
    //   }
    // }
    // var c = new Proxy(a,handler)
    // console.log('b' in c)
    // // for(let q in c){
    //   console.log(q)
    // }
  </script>
</html>
